In [7]:
a= "Life is %d Beautiful" % 3
a

'Life is 3 Beautiful'

In [6]:
a= "python"
a

'python'

# 1. Basic Syntax
- 식별자 (Identifiers)
- 변수 (Variable)
- 자료형 ( Data Type )
- 데이터 형변환 ( Data Type Conversion)
- 연산자 (Operator)

### (1) 식별자 ( Identifiers )
- 변수, 함수, 클래스, 모듈 등을 구분하기 위해 사용되는 이름
- 규칙
    - 대소문자를 구분
    - 소문자(a~z), 대문자(A-Z), 숫자(0~9), 언더스코어(_) 사용 가능
    - (_)를 제외한 특수문자는 사용 불가
    - 가장 앞에 (__) 사용 지양 (reserved global variable)
    - 가장 앞에 숫자 사용 불가
    - 예약어 사용 불가
        - 예약어 : Fasle, class, finally, is, return, None, continue, for, lambda, try, True, def, from, nonlocal, while, and, del, global, not, with, as, elif, if, or, yield, assert, else, import, pass, break, except, in, raise

In [1]:
a = 1

In [2]:
A = 2

In [3]:
a, A

(1, 2)

In [4]:
a&

SyntaxError: invalid syntax (<ipython-input-4-5dc60cfb53ce>, line 1)

In [5]:
a_ = 3
a_

3

In [6]:
1a = 1

SyntaxError: invalid syntax (<ipython-input-6-cc67e5ecf289>, line 1)

In [7]:
a1 = 5
a1

5

In [8]:
def = 5

SyntaxError: invalid syntax (<ipython-input-8-3bb548471f91>, line 1)

### (2) 변수 ( Variable )
- 메모리에 데이터를 저장하기 위한 저장공간의 이름
- snake_case & PascalCase & camelCase
- 값을 저장하기위한 변수명으로는 snake_case를 사용

In [9]:
# a 라는 이름의 저장공간을 만들고 1 이라는 숫자를 넣는다라는 뜻
a = 1

In [10]:
print(a)

1

In [11]:
data_science_school = "데사스"

In [12]:
# b 라는 이름의 저장공간을 만들고 "python" 이라는 문자열을 넣는다라는 뜻
b = "python"

In [13]:
print(b)

python

In [14]:
_abc__DEF9 = 5
print(_abc__DEF9)

5

In [15]:
# 식별자 규칙에 맞지 않는 변수 할당 2
abc% = 10

SyntaxError: invalid syntax (<ipython-input-15-8f442087e416>, line 2)

In [16]:
# 식별자 규칙에 맞지 않는 변수 할당 2
1_abc__DEF9 = 10

SyntaxError: invalid token (<ipython-input-16-9929ec45a96e>, line 2)

In [17]:
# 식별자 규칙에 맞지 않는 변수 할당 3
class = 5

SyntaxError: invalid syntax (<ipython-input-17-1362972d203f>, line 2)

In [18]:
# 다중 할당 1
c, d = 5, "fastcampus"
print(c,d)

5 fastcampus

In [19]:
# 다중 할당 2
e = f = g = "datascience"
print(e, f, g)

datascience datascience datascience

### (3) 자료형 ( Data Type )
- Numbers
    - int : 정수 `( python 2.x - 표현범위 (-2**31 - 1) ~ 2**31 , python 3.x 는 없어짐 )`
    - float : 실수
    - complex : 복소수
- Boolean
    - True, False 두가지로 이루어진 데이터 타입
- String
    - 문자들의 나열로 이루어진 데이터 타입
    
##### Collections
- List
    - 순서가 있는 데이터의 나열
- Tuple
    - 순서가 있는 데이터들의 나열 변경 불가능
- Dictionary
    - key, value가 쌍으로 이루어진 데이터 타입
- Set
    - 순서가 없고 데이터 중복이 되지 않는 데이터 타입
    - Dictionary의 key 라고 생각하면 됨

##### Integer

In [20]:
a, b, c, d = 0, 998374, -188723, +29993
print(type(a),type(b),type(c),type(d))
print(a, b, c, d)

<class 'int'> <class 'int'> <class 'int'> <class 'int'>
0 998374 -188723 29993

##### Float

In [21]:
a, b, c, d = 0.0, 998.3223, -188723.1233, +29993.111
print(type(a),type(b),type(c),type(d))
print(a, b, c, d)

<class 'float'> <class 'float'> <class 'float'> <class 'float'>
0.0 998.3223 -188723.1233 29993.111

##### Complex Number

In [22]:
a = 2 + 3j
print(a)
b = complex(3, -4)
print(b)
print(type(a), type(b))

(2+3j)
(3-4j)
<class 'complex'> <class 'complex'>

In [23]:
# 실수부, 허수부
print(a.real, a.imag)
print(b.real, b.imag)

2.0 3.0
3.0 -4.0

In [24]:
# 복소수 연산
print(a + b)
print(a - b)
print(a * b)
print(a / b)

(5-1j)
(-1+7j)
(18+1j)
(-0.24+0.68j)

In [25]:
# 켤레복소수
print(a.conjugate())
print(b.conjugate())

# 복소수의 크기
print(abs(a))
print(abs(b))

(2-3j)
(3+4j)
3.605551275463989
5.0

##### Boolean

In [26]:
a, b = True, False
print(type(a), type(b))
print(a, b)

<class 'bool'> <class 'bool'>
True False

##### String

In [27]:
a, b, c, d = "FastCampus", "데이터사이언스", '데이터"Science', "데이터'Science"
print(type(a), type(b), type(c), type(d))
a, b, c, d

<class 'str'> <class 'str'> <class 'str'> <class 'str'>

('FastCampus', '데이터사이언스', '데이터"Science', "데이터'Science")

In [28]:
ms = """FastCampus
데이터사이언스
Science"""
print(ms)

FastCampus
데이터사이언스
Science

In [29]:
# copy string
a = "Fast " * 4
a

'Fast Fast Fast Fast '

In [30]:
# offset
a = "abcdefghijk"
a[0], a[5], a[-1], a[-5]

('a', 'f', 'k', 'g')

In [31]:
# slice
# str[start:end:step]
a = "abcdefghijk"
a[1:3], a[0:5], a[-3:], a[::2]

('bc', 'abcde', 'ijk', 'acegik')

In [32]:
a = "abcdefghijk"
a[::-1]

'kjihgfedcba'

In [33]:
a = "abcdefghijk"
len(a)

11

In [34]:
a = "abcdefghijk"
a[:len(a)], a[:]

('abcdefghijk', 'abcdefghijk')

In [36]:
# string inner functions
# https://docs.python.org/3/library/stdtypes.html#string-methods

a = "  FAST campus datascience  "

# upper() - 대문자로 변환
print(a.upper())

# lower() - 소문자로 변환
print(a.lower())

  FAST CAMPUS DATASCIENCE
  fast campus datascience

In [37]:
# find() - 해당 문자열 위치 리턴 (없으면 -1 리턴)
print(a.find("c"))
print(a.find("q"))

# index() - 해당 문자열 위치 리턴  (없으면 value error 리턴)
print(a.index("c"))
print(a.index("q"))

7
-1
7

ValueError: substring not found

In [38]:
# count() - 문자열 갯수 리턴
print(a.count("da"))

1

In [39]:
# lstrip() - 왼쪽 공백 제거
print(a.lstrip(), end="!\n")

# rstrip() - 오른쪽 공백 제거
print(a.rstrip(), end="!\n")

# strip() - 양쪽 공백 제거
print(a.strip(), end="!\n")

FAST campus datascience  !
  FAST campus datascience!
FAST campus datascience!

In [40]:
# replace() - 특정 문자열 치환
print(a.replace("a","b"))

  FAST cbmpus dbtbscience

In [41]:
# split() - 특정 문자열로 분리하여 리스트 형태로 리턴
print(a.split(" "))

['', '', 'FAST', 'campus', 'datascience', '', '']

In [42]:
# endswith() - 마지막 문자열이 일치하면 True 리턴
print(a.rstrip().endswith("datascience"))

True

In [43]:
# join() - 문자열 리스트를 결합
a = ["fast", "campus", "data", "science"]
print("-".join(a))

fast-campus-data-science

##### List

In [3]:
a = ["fast", "campus", "data", "science"]
b = [1,2,3,4]
c = [1, "fast", True]
print(type(a), type(b), type(c))
a, b, c

<class 'list'> <class 'list'> <class 'list'>

(['fast', 'campus', 'data', 'science'], [1, 2, 3, 4], [1, 'fast', True])

In [45]:
# offset
a = ["fast", "campus", "data", "science"]
print(a[1], a[-1], a[1:3], a[:], a[::-2])
a[-2] = "pdj"
a

campus science ['campus', 'data'] ['fast', 'campus', 'data', 'science'] ['science', 'campus']

['fast', 'campus', 'pdj', 'science']

In [5]:
# string inner functions

a = ["fast", "campus", "data", "science"]
b = [1,2,3,4]

# append() - 가장 마지막에 데이터 추가
a.append("fighting!")
print(a)

# sort() - 오름차순 정렬
b.sort() # 알파벳 순으로
a.sort(key=len) # 글자 길이 순으로
print(a)
print(b)

# reverse() - 내림차순 정렬
b.reverse()
print(b)

# index() - 데이터 위치 리턴
print(a.index('campus'))

# insert() - 특정 위치에 데이터 추가
a.insert(2, 'index')
a.insert(5, 'index')
print(a)

# remove() - 해당되는 데이터 값을 삭제 (오프셋이 가장 낮은 데이터 하나만 삭제)
a.remove('index')
print(a)

# pop() - 가장 마지막 값을 리턴
print(a.pop())
print(a)

['fast', 'campus', 'data', 'science', 'fighting!']
['fast', 'data', 'campus', 'science', 'fighting!']
[1, 2, 3, 4]
[4, 3, 2, 1]
2
['fast', 'data', 'index', 'campus', 'science', 'index', 'fighting!']
['fast', 'data', 'campus', 'science', 'index', 'fighting!']
fighting!
['fast', 'data', 'campus', 'science', 'index']

In [47]:
# list copy
a = [1,2,3]
b = a
print(a, b)

a[2] = 4
print(a, b)

c = a.copy()
print(a,c)

a[2] = 5
print(a,c)

[1, 2, 3] [1, 2, 3]
[1, 2, 4] [1, 2, 4]
[1, 2, 4] [1, 2, 4]
[1, 2, 5] [1, 2, 4]

In [48]:
a = [1,2,3,4,5]

# offset을 이용하여 데이터 수정
a[1] = "Fast"
print(a)

a[1:4] = "a"
a

[1, 'Fast', 3, 4, 5]

[1, 'a', 5]

##### Tuple

In [49]:
a = 1, 2, 3, 4
b = "fast", "campus", "data", "science"
c = 1, "fast", True
d = (1, "fast", True)
print(type(a), type(b), type(c), type(d))
print(a, b, c, d)

<class 'tuple'> <class 'tuple'> <class 'tuple'> <class 'tuple'>
(1, 2, 3, 4) ('fast', 'campus', 'data', 'science') (1, 'fast', True) (1, 'fast', True)

In [50]:
a[2], a[1:3]

(3, (2, 3))

In [51]:
# cannot modify
a[1] = 3

TypeError: 'tuple' object does not support item assignment

In [52]:
# 리스트와 비교한 튜플의 장점
# 리스트보다 더 적은 공간을 사용
# 데이터 수정이 안된다(데이터 선언후 수정되지 않아야 할 경우 유리)
# Dictionary의 key로 사용할수 있다

In [54]:
import sys
ls = [1,2,3,4,5]
print(sys.getsizeof(ls), "byte")
t = tuple(ls)
print(sys.getsizeof(t), "byte")

104 byte
88 byte

##### Dictionary

In [55]:
dic = { 
    1:"one",
    "A": ["data", "science"],
    "숫자": 1234,
    }
print(type(dic))
print(dic)

<class 'dict'>
{1: 'one', 'A': ['data', 'science'], '숫자': 1234}

In [56]:
dic[1] = "하나"
dic["A"] = "알파벳"
dic

{1: '하나', 'A': '알파벳', '숫자': 1234}

In [57]:
# inner functions

# keys() - 키를 리턴
print(dic.keys())

# values() - 값을 리턴
print(dic.values())

# items() - 키와 값을 리턴
print(dic.items())

# clear() - dictionary 데이터를 모두 삭제
dic.clear()
print(dic)

# get() - 매개변수에 해당하는 값을 리턴
dic = { 
    1:"one",
    2:"two",
    3:"three",
    }
print(dic.get(2))
print(dic.get(4))
# print(dic[4]) 
print(dic.get(4,"no_data")) # get을 사용하면 error를 예방할수 있다.

# copy() - 리스트와 마찬가지로 다른 저장공간을 가지는 데이터를 대입한다.
dic2 = dic
print(dic, dic2)
dic[1] = "하나"
print(dic, dic2)
dic3 = dic.copy()
dic[1] = "A"
print(dic, dic3)

# update() - 데이터를 업데이트
a = {1:"a", 2:"b"} 
b = {2:"c", 3:"d"}
print(a)
a.update(b)
print(a)

dict_keys([1, 'A', '숫자'])
dict_values(['하나', '알파벳', 1234])
dict_items([(1, '하나'), ('A', '알파벳'), ('숫자', 1234)])
{}
two
None
no_data
{1: 'one', 2: 'two', 3: 'three'} {1: 'one', 2: 'two', 3: 'three'}
{1: '하나', 2: 'two', 3: 'three'} {1: '하나', 2: 'two', 3: 'three'}
{1: 'A', 2: 'two', 3: 'three'} {1: '하나', 2: 'two', 3: 'three'}
{1: 'a', 2: 'b'}
{1: 'a', 2: 'c', 3: 'd'}

##### quiz 1

아래의 데이터를 딕셔너리 형태의 데이터로 만드시오

- 학생 A - 수학 : 80, 영어 : 100, 과학 : 90
- 학생 B - 수학 : 70, 영어 : 100, 과학 : 100
- { 'A': {'과학': 90, '수학': 80, '영어': 100}, 'B': {'과학': 100, '수학': 70, '영어': 100}} (결과)

In [1]:
data = {
    # TODO
}
data

{'A': {'과학': 90, '수학': 80, '영어': 100}, 'B': {'과학': 100, '수학': 70, '영어': 100}}

##### Set

In [58]:
s = set([1,2,3,4,5,1,2,3])
print(type(s))
print(s)

<class 'set'>
{1, 2, 3, 4, 5}

In [59]:
# Set (집합)
s1 = set([1,2,3,4])
s2 = set([3,4,5,6])

# intersection (교집합)
print(s1 & s2)
print(s1.intersection(s2)) # 함수로도 표현 가능

# union (합집합)
print(s1 | s2)
print(s1.union(s2))

# difference (차집합)
print(s1 - s2)
print(s1.difference(s2))

{3, 4}
{3, 4}
{1, 2, 3, 4, 5, 6}
{1, 2, 3, 4, 5, 6}
{1, 2}
{1, 2}

In [60]:
s = list(s)
s[4] = 10
s = set(s)
s

{1, 2, 3, 4, 10}

### (4) 데이터 형변환 ( Data Type Conversion)
- boolean

In [61]:
# convert to int from string
s = "1234"
n = int(s)
print(type(n), n)

<class 'int'> 1234

In [62]:
# convert to string from int
n = 1234
s = str(n)
print(type(s), s)

<class 'str'> 1234

In [63]:
# 숫자가 아닌 문자열의 형변화는 불가능
s = "a"
n = int(s)
print(type(n), n)

ValueError: invalid literal for int() with base 10: 'a'

In [64]:
# boolean 형변환
print(bool(""), bool("asedf"))
print(bool(-1), bool(0), bool(1), bool(0.0), bool(0.1))
a, b = [], [1,2]
print(bool(a), bool(b))

False True
True False True False True
False True

In [65]:
a, b = [], [1,2,3]

if len(a) > 0:
    print(a)
else:
    print("no_data")

if b:
    print(b)
else:
    print("no_data")

no_data
[1, 2, 3]

In [66]:
# convert to list from string
s = "fast"
ls = list(s)
print(ls)

['f', 'a', 's', 't']

In [67]:
# convert to tuple from dictionary
d = {1:"one", 2:"two"}
t = tuple(d)
print(t)
t = tuple(d.items())
print(t)

(1, 2)
((1, 'one'), (2, 'two'))

In [68]:
# convert to dict from tuple
t = ((1,"one"),(2,"two"))
dict(t)

{1: 'one', 2: 'two'}

### 연산자 ( Operator )

- 연산자의 종류
    - 산술 연산자 (Arithmetic Operators) : `+, -, *, /, //, %, **`
    - 비교 연산자 (Comparison Operators) : `==, !=, >, <, =>, =<`
    - 할당 연산자 (Assignment Operators) : `=, +=, -=, *=, /=, %=, //=, **=`
    - 비트 연산자 (Bitwise Operators) : `&, |, ^, ~, <<, >>`
    - 논리 연산자 (Logical Operators) : `and, or, not`
    - 멤버 연산자 (Membership Operators) : `in, not in` 
    - 식별 연산자 (Identity Operators) : `is, is not`

In [69]:
# 산술 연산자
# +, -, *, /, //, %, **

print(2 + 4)
print(2 - 4)
print(2 * 4)
print(10 / 3)
print(10 // 3)
print(10 % 3)
print(3 ** 4)

6
-2
8
3.3333333333333335
3
1
81

In [70]:
# 비교 연산자
# ==, !=, >, <, >=, <=

a, b = 10, 20

print(a==b)
print(a!=b)
print(a>b)
print(a<b)
print(a>=b)
print(a<=b)

False
True
False
True
False
True

In [1]:
a= 4
a += 10
print(a)

14

In [71]:
# 할당 연산자
# =, +=, -=, *=, /=, %=, //=, **=

a = 5
print(a)

a += 10
print(a)

a -= 5
print(a)

a *= 10
print(a)

a /= 5
print(a)

a %= 8
print(a)

a //= 2
print(a)

a **= 3
print(a)

5
15
10
100
20.0
4.0
2.0
8.0

In [72]:
# 비트 연산자
# &, |, ^, ~, <<, >>

a = 3 # 011
b = 5 # 101

print(a&b, bin(a&b))
print(a|b, bin(a|b))
print(a^b, bin(a^b))
print(~a, bin(~a))
print(~b, bin(~b))
print(a<<2, bin(a<<2))
print(b>>1, bin(b>>1))

1 0b1
7 0b111
6 0b110
-4 -0b100
-6 -0b110
12 0b1100
2 0b10

In [73]:
# 논리 연산자
# and, or, not

print( True and True )
print( True and False )

print( True or True )
print( True or False )

print( not(True and True) )
print( not(True and False) )

True
False
True
True
False
True

In [74]:
# 멤버 연산자
a = [1,2,3,4]
print(1 in a)
print(5 in a)
print(1 not in a)

True
False
False

In [75]:
# 식별 연산자
# is, is not
a = [1,2,3]
b = a
print( a is b )

a = [1,2,3]
b = a.copy()
print( a is b )

print( a is not b )

True
False
True

In [76]:
# 식별 연산자
# is, is not
a = "a"
b = a
print( a is b )

b = "a"
print( a is b )

print( a is not b )

True
True
False

##### quiz 2
- 리스트 중복 제거후 내림차순으로 정렬

In [4]:
# 아래의 리스트를 중복을 제거하고 내림차순으로 정렬하세요.
ls = [1, 5, 2, 8, 6, 4, 3, 6, 4]

In [5]:
# TODO

In [29]:
ls = [1, 5, 2, 8, 6, 4, 3, 6, 4]

ls.sort()

print(ls)

ls.reverse()

print(ls)

# print(ls.reverse())

# for i in range(ls):
#     ls1.append()
    
#     if i is not in ls

[1, 2, 3, 4, 4, 5, 6, 6, 8]
[8, 6, 6, 5, 4, 4, 3, 2, 1]

In [25]:
a1 = set(ls)

a = list(set(ls))

b = a[::-1]

print(b)

[8, 6, 5, 4, 3, 2, 1]

In [3]:
a= 5
if a > 5:
    print("a is higher")
else:
    print("else")

else

## quiz 3 카카오 입사문제
- Arrange
- 문장을 단어의 글자수가 낮은 단어 순서대로 재 나열 하시오
- 문장의 첫 글자는 대문자이고 마지막은 마침표가 항상 있습니다.

결과 예시
- The lines are printed in reverse order. (입력)
- In the are lines order printed reverse. (결과)

힌트
- 단어수대로 리스트를 오름차순으로 정렬하는 방법
```
ls = ["abc","a","ab"]
ls.sort(key=len)
```

In [42]:
sentence = "The lines are printed in reverse order."
# TODO

In [45]:
sentence = "The lines are printed in reverse order."


sentence = sentence.lower()
sentence = sentence[:-1]
sentence = sentence.split(" ")
sentence.sort(key=len)
sentence = " ".join(sentence)
sentence = sentence + "."
sentence = sentence[:1].upper() + sentence[1:]

sentence

'In the are lines order printed reverse.'

In [14]:
sentence = "The lines are printed in reverse order."

sentence = sentence.lower()    #모든 문자를 소문자로 변경
sentence = sentence[:-1]       #마침표를 제거
sentence = sentence.split(" ") #문자열을 리스트로 변경
sentence.sort(key=len)         #글자수대로 재정렬
sentence = " ".join(sentence)  #문자열로 구성된 리스트를 합쳐줌
sentence = sentence + "."      #마침표를 추가
sentence = sentence[:1].upper() + sentence[1:] #가장 앞문자를 대문자로 변경

sentence

'In the are lines order printed reverse.'