# 2. Condition & Loop & Input & Output
- input
- print
- if, elif, else
- while
- for
- comprehension

In [3]:

a = int(input("put your number : "))
print(a)

put your number : 1
1

### input

In [ ]:
value = input("insert string : ")
print(type(value), value)

In [ ]:
value = int(input("insert number : "))
print(type(value), value)

### print

In [1]:
print("fast", "campus")

fast campus

In [2]:
print("fast" , end="\t")
print("campus")

fast	campus

In [4]:
a, b = 1234, "fastcampus"
print("number : {}, string: {}".format(a, b))

number : 1234, string: fastcampus

In [3]:
a, b = 1234, "fastcampus"
print("number : {num}, string: {string}".format(num=a, string=b))

number : 1234, string: fastcampus

### if, elif, else
- syntax

```
if condition_1:
    code_1
elif condition_2:
    code_2
else: 
    code_3
```
- condition이 True이면 해당 조건안쪽의 코드가 실행

In [ ]:
flag = True
if flag:
    print("if")
else:
    print("else")

In [5]:
flag = False
if flag:
    print("if")
else:
    print("else")

else

In [ ]:
# 비교 연산자 사용
a, b = 10, 20
if a < b:
    print("a < b")
elif a == b:
    print("a == b")
else:
    print("a > b")

In [6]:
# 논리 연산자 사용
a, b = 10, 20
if a < 20 and b < 10:
    print("code 1")
else:
    print("code 2")

code 2

In [7]:
# 논리 연산자 사용
a, b = 10, 20
if a < 20 and not(b < 10):
    print("code 1")
else:
    print("code 2")

code 1

In [8]:
# len(a) == 0 과 같이 사용하지 않는다.
a, b = [], [1,2]
if a:
    print("a")
if b:
    print("b")

b

##### quiz
- 숫자를 입력 받아 짝수이면 odd, 홀수 이면 even을 출력하는 프로그램을 작성하세요.

In [14]:
num = int(input ("number: "))

if num % 2 == 0:
    print("even")
else:
    print("odd")

number: 7
odd

##### 삼항 연산

In [2]:
a, result = 10, ""
if a % 2 == 0:
    result = "odd"
else:
    result = "even"
result

'odd'

In [3]:
a = 10
result = "odd" if a % 2 == 0 else "even"
result

'odd'

### while
- syntax
```
while condition:
    code
```
- condition이 True이면 while 안쪽의 code가 실행 후 다시 condition을 확인하여 True이면 code를 실행을 반복
- break
- continue

In [15]:
a = 3
while a > 0:
    print(a)
    a -= 1

3
2
1

In [5]:
a = 3
while a > 0:
    print(a)
    if a == 2:
        break
    a -= 1

3
2

In [16]:
a = [1,2,3,4,"q"]
idx = 0
while True:
    data = a[idx]
    idx += 1
    if data == 'q':
        break
    elif data % 2 == 0:
        continue
    print(data)

1
3

### for
- syntax
```
for value in list :
    code
```
- list에 있는 value를 순서대로 하나씩 꺼내서 code를 실행
- range
- zip
- enumerate

In [3]:
ls = [0,1,4,7,9]
for value in ls:
    print(value)

0
1
4
7
9

In [20]:
# range(end)
for value in range(5):
    print(value)

0
1
2
3
4

In [21]:
# range(start:end)
for value in range(2,5):
    print(value)

2
3
4

In [23]:
# range(start:end:step)
for value in range(1,6,2):
    print(value)

1
3
5

In [8]:
for value in range(5,0,-1):
    print(value)

5
4
3
2
1

In [30]:
for value in range(5,1,-1):
    print(value)
    
print()

for value2 in range(5,1, -2):
    print(value2)

5
4
3
2

5
3

In [12]:
a = 0
for _ in range(5,1,1):
    a += 1
print(a)

0

In [22]:
a = 0
for _ in range(5):
    a += 1
print(a)

5

##### zip
- 2개의 리스트를 key, value 형태로 묶어주는 함수

In [16]:
# 2개의 리스트를 매핑시켜 딕셔너리 형태로 변경하세요
subjects = ["korean", "english", "math", "science"]
points = [100, 80, 90, 60]

In [27]:
subject = ["korean", "English", "Math"]
points = [100, 80, 60,70]
convert_dic = {}
for idx in range(len(subject)):
    convert_dic[subject[idx]] = points[idx]
convert_dic

{'English': 80, 'Math': 60, 'korean': 100}

In [17]:
convert_dict = {}
for idx in range(len(subjects)):
    convert_dict[subjects[idx]] = points[idx]
convert_dict

{'english': 80, 'korean': 100, 'math': 90, 'science': 60}

In [10]:
converted_dict = {}
for subject, point in zip(subjects, points):
    print(subject, point)
    converted_dict[subject] = point
converted_dict

korean 100
english 80
math 90
science 60

{'english': 80, 'korean': 100, 'math': 90, 'science': 60}

In [11]:
tuple(zip(subjects, points)), dict(zip(subjects, points))

((('korean', 100), ('english', 80), ('math', 90), ('science', 60)),
 {'english': 80, 'korean': 100, 'math': 90, 'science': 60})

##### enumerate
- 리스트 형태의 데이터를 index와 value 값을 동시에 사용할수 있는 함수

In [18]:
# list(enumerate(range(5,10)))
subjects = ["korean", "english", "math", "science"]
for idx, value in enumerate(subjects):
    print(idx, value)

0 korean
1 english
2 math
3 science

##### quiz
- for문을 이용하여 리스트에 있는 모든 숫자들을 더하는 코딩을 하시오
- numbers = [1,3,5,7,9]

In [ ]:
# TODO

In [17]:
numbers = [1,3,5]

nums = 0
for num in numbers:
    
    nums = nums + num
print(nums)

9

In [32]:
numbers = [1,3,5,7,9]

result = 0
for num in numbers:
    result = num + result
    
print(result)

25

In [14]:
numbers = [1,3,5,7]

result = 0
for num in numbers:
    result += num
    
print(result)

16

### comprehention
- 반복문의 결과를 바로 리스트로 만들어 주는 방법
- 리스트에 1~5까지 숫자를 대입하는 방법

In [ ]:
# method 1
ls = []
ls = [1, 2, 3, 4, 5]
print(ls)

In [15]:
# method 2
ls = []
ls.append(1)
ls.append(2)
ls.append(3)
ls.append(4)
ls.append(5)
print(ls)

[1, 2, 3, 4, 5]

In [16]:
# method 3
ls = []
for num in range(1,6):
    ls.append(num)
print(ls)

[1, 2, 3, 4, 5]

In [ ]:
# method 4
ls = []
ls = [num for num in range(1,6)]
print(ls)

In [19]:
# comprehention는 for문을 사용한는 것보다 속도가 빠릅니다.

In [37]:
%%time
# compare excute time
ls = []
for num in range(1,10000):
    ls.append(num)

CPU times: user 0 ns, sys: 0 ns, total: 0 ns
Wall time: 1.6 ms

In [38]:
%%time
# comprehention 사용
ls = []
ls = [num for num in range(1,10000)]

CPU times: user 0 ns, sys: 0 ns, total: 0 ns
Wall time: 481 µs

In [ ]:
# comprehention 은 삼항연산과 함께 사용할수 있습니다.

In [19]:
# 0 ~ 10까지 숫자를 출력하고 숫자뒤에 짝수인지 홀수인지 출력하는 코드를 작성
ls = []
ls = [str(num) + ":odd" if num % 2 == 0 else str(num) + ":even" for num in range(11)]
ls

['0:odd',
 '1:even',
 '2:odd',
 '3:even',
 '4:odd',
 '5:even',
 '6:odd',
 '7:even',
 '8:odd',
 '9:even',
 '10:odd']

In [22]:
ls = []
ls = [str(num) + ": odd" if num % 2 ==0 else str(num) + ": even" for num in range(11)]
ls

['0: odd',
 '1: even',
 '2: odd',
 '3: even',
 '4: odd',
 '5: even',
 '6: odd',
 '7: even',
 '8: odd',
 '9: even',
 '10: odd']

##### quiz
- comprehention과 삼항연산을 함께 사용하여 이름 리스트에서 lee씨 성을 가진사람은 성을 삭제하는 코드를 작성하세요.
- names = ["kim test", "park python", "lee data", "jung science", "lee school"] (입력)
- names = ["kim test", "park python", "data", "jung science", "school"] (결과)

In [22]:
# TODO

['kim test', 'park python', 'data', 'jung science', 'school']

In [30]:
names = ["kim test", "park python", "lee data", "KIM science", "lee school"]
last = []
for last_name in names:
    if last_name.split(" ")[0].lower() == "kim":
        print()
    else:
        last.append(last_name)

print(last)

['park python', 'lee data', 'lee school']